input[type="button"],
input[type="submit"],
input[type="file"],
input[type="reset"],
button,
.button {
  @each $size, $properties in $button-sizes {
    @each $property, $value in $properties {
      &.#{$size} {
        #{$property}: $value;
      }
    }
  }

  &.wide {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  @each $name, $properties in $button-types {
    $background: map-get($properties, background);
    $background-hover: map-get($properties, background-hover);
    $background-active: map-get($properties, background-active);
    $background-focus: map-get($properties, background-focus);

    $color: map-get($properties, color);
    $color-hover: map-get($properties, color-hover);
    $color-active: map-get($properties, color-active);
    $color-focus: map-get($properties, color-focus);

    $border-color: map-get($properties, border-color);
    $border-color-hover: map-get($properties, border-color-hover);
    $border-color-active: map-get($properties, border-color-active);
    $border-color-focus: map-get($properties, border-color-focus);

    $box-shadow: map-get($properties, box-shadow);
    $box-shadow-hover: map-get($properties, box-shadow-hover);
    $box-shadow-active: map-get($properties, box-shadow-active);
    $box-shadow-focus: map-get($properties, box-shadow-focus);

    &.#{$name} {
      @include button-style(
        $box-shadow,
        $border-color,
        $color,
        $background,
        $box-shadow-hover,
        $border-color-hover,
        $color-hover,
        $background-hover,
        $box-shadow-active,
        $border-color-active,
        $color-active,
        $background-active,
        $box-shadow-focus,
        $border-color-focus,
        $color-focus,
        $background-focus
      );
    }
  }
}
