@import "true";
@import "test-globals";

@include describe("mixins#create-flow-property") {
  @include it("returns both rtl and ltr properties") {
    @include assert {
      @include output(false) {
        .wrapper {
          @include create-flow-property("text-align", left);
        }
      }

      @include expect(false) {
        html:not([dir="rtl"]) .wrapper {
          text-align: left;
        }

        html[dir="rtl"] .wrapper {
          text-align: right;
        }
      }
    }
  }

  @include it("returns both rtl and ltr values") {
    @include assert {
      @include output(false) {
        .wrapper {
          @include create-flow-property("left", 16px);
        }
      }

      @include expect(false) {
        html:not([dir="rtl"]) .wrapper {
          left: 16px;
        }

        html[dir="rtl"] .wrapper {
          right: 16px;
        }
      }
    }
  }
}
