@import "../../global";

.header-text-wrapper {
  .section-header {
    color: $black;
    border-bottom: 2px solid #ddd;
    padding: 15px 0 10px 0;
    font-size: 36px;
    font-weight: 200;
    margin: 15px 0 30px 0;
  }
}
