{
  "env": {
    "rollup": {
      "presets": [
        [
          "env",
          { "modules": false }
        ]
      ]
    },
    "development": {
      "presets": [ "env", "react" ],
      "plugins": [
        [
          "babel-plugin-webpack-aliases",
          { "config": "config/webpack.dev.js" }
        ]
      ]
    },
    "production": {
      "presets": [ "env", "react" ]
    }
  }
}
