{
  "env": {
    "rollup": {
      "presets": [
        [
          "@babel/preset-env",
          { "modules": false }
        ]
      ]
    },
    "development": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ],
      "plugins": [
        [
          "babel-plugin-webpack-aliases",
          { "config": "config/webpack.dev.js" }
        ]
      ]
    },
    "production": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ]
    }
  }
}
