# remaining folders/files:
# - src/
# - lib/
# - dist/
# - README.md
# - package.json
# - LICENSE
# - CONTRIBUTING

.DS_store
yarn-error.log*
npm-error.log*

/.sass-cache/
/.circleci/
/app/
/bin/
/build/
/coverage/
/dist/*.zip
/node_modules/
/public/
/src/js/__tests__/
/test/

.browserslistrc
.eslintignore
.eslintrc.js
.prettierrc
babel.config.js
jest.config.js
netlify.toml
postcss.config.js
rollup.config.js
webpack.common.js
webpack.dev.js
webpack.prod.js
