.accordion {
  border: $accordion-border;
  border-radius: $accordion-border-radius;

  @if $accordion-border-radius {
    overflow: hidden;
  }

  .collapsible {
    .collapsible-trigger {
      border-radius: 0;
    }

    .collapsible-content {
      border-bottom: $accordion-collapse-divider;
    }

    &:last-child .collapsible-content {
      border-bottom: none;
    }
  }
}
