.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-trigger {
  display: inline-block;
  cursor: pointer;

  > *:disabled,
  > .disabled {
    pointer-events: none;
  }
}

.tooltip-box {
  padding: $tooltip-padding;
  border-radius: $global-border-radius;
  border: $tooltip-border;
  background: $gray100;
  position: absolute;
  display: block;
  opacity: 0;
  transition: opacity $tooltip-transition;
  pointer-events: none;
  word-wrap: break-word;
  white-space: nowrap;
  text-align: center;
  z-index: $tooltip-index;
  color: $tooltip-color;
  font-size: $tooltip-font-size;
  margin: $tooltip-margin;

  &[data-visible="true"] {
    opacity: 1;
    pointer-events: auto;
  }

  .modal-dialog & {
    z-index: $tooltip-index-in-modal;
  }

  @if $tooltip-arrows-enabled {
    @include set-flow("left", 0); // This is a fallback.
    bottom: 100%;

    @include down-arrow(calc(50% - #{$arrow-size}), $gray100, $gray100);

    &.is-drop-end {
      @include set-flow("left", 100%);
      @include set-flow(margin-left, $arrow-size);
      margin-top: 0;
      margin-bottom: 0;
      bottom: auto;
      top: 0; // This is a fallback.

      @include left-arrow(calc(50% - #{$arrow-size}), $gray100, $gray100);
    }

    &.is-drop-start {
      @include set-flow("right", 100%);
      @include set-flow("left", auto);
      @include set-flow(margin-right, $arrow-size);
      margin-top: 0;
      margin-bottom: 0;
      bottom: auto;
      top: 0; // This is a fallback.

      @include right-arrow(calc(50% - #{$arrow-size}), $gray100, $gray100);
    }

    &.is-drop-down {
      @include set-flow("left", 0); // This is a fallback.
      top: 100%;
      margin: -$arrow-size 0 0 0;
      bottom: auto;

      @include up-arrow(calc(50% - #{$arrow-size}), $gray100, $gray100);
    }
  }
}
