@import "app/global";

.footer-wrapper {
  background: $color-dark-blue;

  .has-feather {
    @include create-link-color;
    display: inline-block;
    padding: $global-space;

    svg {
      @include create-flow-property("margin-left", 0);
    }
  }
}
