@import "app/global";

.footer-wrapper {
  background: $brand-dark-blue;

  .has-feather {
    @include colored-link;
    display: inline-block;
    padding: $global-space;

    svg {
      @include net-set-flow("margin-left", 0);
    }
  }
}
