@import '../../global';

.article-wrapper {
  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h2, h3 {
    padding-top: 16px;
  }

  pre {
    overflow-y: scroll;
    margin-bottom: 16px;
  }

  pre, code {
    color: $gray800; 
    background: #fafafa;
  }

  ul {
    margin-bottom: 16px;
  }
}
