@import "../../global";

.article-wrapper {
  @import "./prism";

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h2,
  h3 {
    padding-top: 16px;
  }

  pre {
    overflow-y: auto;
    margin-bottom: $global-space * 2.5 !important;
  }

  pre,
  code {
    color: $gray600;
    background: #eee;
  }

  ul {
    margin-bottom: 16px;
  }
}
