@import "../../global";

.article-wrapper {
  @import "./prism";

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
    padding-top: 16px;
  }

  h2,
  h3 {
    padding-top: 16px;
  }

  pre {
    margin-bottom: $global-space * 2.5 !important;

    > code {
      display: initial;
    }
  }
  
  code {
    padding: 0;
  }

  pre,
  code {
    color: #5e6687;
    background: #f5f7ff;
  }

  ul {
    margin-bottom: 16px;
  }
}
