// Keyboard focus modifier - only included if $scope is left empty.
// If $scope is defined, using-keyboard is included via `_scope-overrides.scss`

@if $scope == "" {
  @include net-create-using-keyboard-class;
}

// `font-family` modifiers

.has-sans-text {
  font-family: $global-font-sans !important;
}

.has-serif-text {
  font-family: $global-font-serif !important;
}

// `font-weight` modifiers

.has-bold-text {
  font-weight: $global-font-weight-bold !important;
}

.has-italic-text {
  font-style: $global-font-style-italic !important;
}

// `text-align` modifiers

.has-text-start {
  @include net-set-flow("text-align", left !important);
}

.has-text-center {
  text-align: center !important;
}

.has-text-end {
  @include net-set-flow("text-align", right !important);
}

// `color` modifier for text and backgrounds

@each $name, $color in $full-palette {
  .has-#{$name}-text {
    color: $color !important;
  }

  .has-#{$name}-bg {
    background-color: $color !important;
  }
}

// `display` modifiers

@each $size, $value in $breakpoints {
  $breakpoint-index: index($breakpoints, ($size $value));

  // If the index is on the first item in $breakpoints
  @if $breakpoint-index == 1 {
    .has-display-flex {
      display: flex !important;
    }

    .has-display-block {
      display: block !important;
    }

    .has-display-none {
      display: none !important;
    }
  } @else {
    @include net-breakpoint($size) {
      @include net-create-visibility-classes($size);
    } // end @include
  } // end @if
} // end @each

// `flex-direction` modifiers

@each $property in row, column {
  .has-direction-#{$property} {
    flex-direction: $property !important;
  }
}

// `justify-content` modifiers

@each $property in center, flex-end, flex-start, space-around, space-between {
  .has-justify-content-#{$property} {
    justify-content: $property !important;
  }
}

// `align-items` modifiers

@each $property in center, flex-end, flex-start, stretch {
  .has-align-items-#{$property} {
    align-items: $property !important;
  }
}

// `align-content` modifiers

@each $property in center, flex-end, flex-start, space-around, space-between, stretch {
  .has-align-content-#{$property} {
    align-content: $property !important;
  }
}

// `flex-grow` and `flex-shrink` modifiers

@each $value in 0, 1 {
  .has-grow-#{$value} {
    flex-grow: $value !important;
  }

  .has-shrink-#{$value} {
    flex-shrink: $value !important;
  }
}

// Spacing modifiers on all sides

.has-padding {
  padding: $global-space !important;
}

.has-margin {
  margin: $global-space !important;
}

// Spacing modifier on a single side only

.has-padding-start {
  @include net-set-flow("padding-left", $global-space !important);
}

.has-margin-start {
  @include net-set-flow("margin-left", $global-space !important);
}

.has-padding-end {
  @include net-set-flow("padding-right", $global-space !important);
}

.has-margin-end {
  @include net-set-flow("margin-right", $global-space !important);
}

@each $side in top, bottom {
  .has-padding-#{$side} {
    padding-#{$side}: $global-space !important;
  }

  .has-margin-#{$side} {
    margin-#{$side}: $global-space !important;
  }
}

// 1. Spacing modifier on all sides, for each spacing increment
// 2. Spacing modifier on a single side only, for each spacing increment

@each $size, $value in $spacing-increments {
  // 1
  .has-padding-#{$size} {
    padding: $value !important;
  }

  .has-margin-#{$size} {
    margin: $value !important;
  }

  // 2
  .has-margin-start-#{$size} {
    @include net-set-flow("margin-left", $value !important);
  }

  .has-padding-start-#{$size} {
    @include net-set-flow("padding-left", $value !important);
  }

  .has-margin-end-#{$size} {
    @include net-set-flow("margin-right", $value !important);
  }

  .has-padding-end-#{$size} {
    @include net-set-flow("padding-right", $value !important);
  }

  @each $side in top, bottom {
    .has-margin-#{$side}-#{$size} {
      margin-#{$side}: $value !important;
    }

    .has-padding-#{$side}-#{$size} {
      padding-#{$side}: $value !important;
    }
  } // end @each
} // end @each

// Spacing modifier removes from all sides

.has-no-margin {
  margin: 0 !important;
}

.has-no-padding {
  padding: 0 !important;
}

// Spacing modifier removes from a single side only

.has-no-padding-start {
  @include net-set-flow("padding-left", 0 !important);
}

.has-no-margin-start {
  @include net-set-flow("margin-left", 0 !important);
}

.has-no-padding-end {
  @include net-set-flow("padding-right", 0 !important);
}

.has-no-margin-end {
  @include net-set-flow("margin-right", 0 !important);
}

@each $side in top, bottom {
  .has-no-padding-#{$side} {
    padding-#{$side}: 0 !important;
  }

  .has-no-margin-#{$side} {
    margin-#{$side}: 0 !important;
  }
}

// List style modifier

.has-unstyled-list {
  @include net-set-flow("padding-left", 0 !important);
  list-style-type: none !important;
}

// Visually hide an element, but leave it available for screen readers
// https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
// https://gomakethings.com/hidden-content-for-better-a11y/

%visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

%not-visually-hidden {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
}

.is-visually-hidden {
  @extend %visually-hidden;
}

// Extends the .is-visually-hidden class to allow the element to be focusable when navigated to via the keyboard
// https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
// https://www.drupal.org/node/897638

.is-visually-hidden-focusable {
  @extend %visually-hidden;

  &:active,
  &:focus {
    @extend %not-visually-hidden;
  }
}

// Revert `is-visually-hidden` class.
// Will always ensure an element is normally visible even if hidden class is present.

.is-not-visually-hidden {
  @extend %not-visually-hidden;
}
