@mixin net-set-flow($property, $value) {
  $rtl-property: $property;
  $rtl-value: $value;

  @if type-of($value) == string {
    @if str-index($value, "left") {
      $rtl-value: str-replace($value, "left", "right");
    } @else if str-index($value, "right") {
      $rtl-value: str-replace($value, "right", "left");
    }
  }

  @if str-index($property, "left") {
    $rtl-property: str-replace($property, "left", "right");
  } @else if str-index($property, "right") {
    $rtl-property: str-replace($property, "right", "left");
  }

  html:not([dir="rtl"]) & {
    #{$property}: $value;
  }

  html[dir="rtl"] & {
    #{$rtl-property}: $rtl-value;
  }
}

@mixin net-create-grid-classes($size) {
  @for $i from 1 through $columns {
    .is-#{$size}-#{$i} {
      flex: 0 0 percentage($i / $columns);
      max-width: percentage($i / $columns);
    }

    @if $column-offset-classes == true {
      .is-#{$size}-offset-#{$i} {
        @include net-set-flow("margin-left", percentage($i / $columns));
      }
    }

    @if $column-order-classes == true {
      // order-1 = -12
      // order-2 = -11
      // etc...
      .is-#{$size}-order-#{$i} {
        order: $i - 1 - $columns;
      }
    }
  }
}

@mixin net-breakpoint($size) {
  @media screen and (min-width: #{net-breakpoint-value($size)}) {
    @content;
  }
}

@mixin net-breakpoint-down($size) {
  @media screen and (max-width: #{net-breakpoint-value($size) - 1}) {
    @content;
  }
}

@mixin net-breakpoint-between($min, $max) {
  @media screen
    and (min-width: #{net-breakpoint-value($min)})
    and (max-width: #{net-breakpoint-value($max) - 1}) {
    @content;
  }
}

@mixin net-create-headers($headers) {
  @each $header, $properties in $headers {
    #{$header},
    .#{$header} {
      @each $property, $value in $properties {
        #{$property}: $value;
      }
    }
  }
}

// this mixin is used for arrow mixins/CSS below and in src/scss/components/_dropdown.scss
@mixin net-with-arrow-enabled {
  &:not(.has-no-arrow) {
    @content;
  }
}

// These values calculate a consistent arrow fill (inner) and arrow border (outer),
// given any value of $arrow-size from _config.scss
// partial pixel values are used to prevent some browsers from clipping the edge
$arrow-fill-position: $arrow-size * -2 + 1.5px;
$arrow-border-position: $arrow-size * -2;

@mixin net-create-arrow-base-styles {
  border-left: $arrow-size solid transparent;
  border-right: $arrow-size solid transparent;
  border-bottom: $arrow-size solid transparent;
  border-top: $arrow-size solid transparent;
  content: "";
  position: absolute;
}

@mixin net-create-up-arrow($edge-offset, $fill-color, $border-color) {
  @include net-with-arrow-enabled {
    &::after {
      @include net-create-arrow-base-styles;
      @include net-set-flow("left", $edge-offset);
      @include net-set-flow("right", auto);
      top: $arrow-fill-position;
      bottom: auto;
      border-bottom: $arrow-size solid $fill-color;
    }

    &::before {
      @include net-create-arrow-base-styles;
      @include net-set-flow("left", $edge-offset);
      @include net-set-flow("right", auto);
      top: $arrow-border-position;
      bottom: auto;
      border-bottom: $arrow-size solid $border-color;
    }
  }
}

@mixin net-create-down-arrow($edge-offset, $fill-color, $border-color) {
  @include net-with-arrow-enabled {
    &::after {
      @include net-create-arrow-base-styles;
      @include net-set-flow("left", $edge-offset);
      @include net-set-flow("right", auto);
      bottom: $arrow-fill-position;
      top: auto;
      border-top: $arrow-size solid $fill-color;
    }

    &::before {
      @include net-create-arrow-base-styles;
      @include net-set-flow("left", $edge-offset);
      @include net-set-flow("right", auto);
      bottom: $arrow-border-position;
      top: auto;
      border-top: $arrow-size solid $border-color;
    }
  }
}

@mixin net-create-right-arrow($edge-offset, $fill-color, $border-color) {
  @include net-with-arrow-enabled {
    &::after {
      @include net-create-arrow-base-styles;
      @include net-set-flow("border-left", $arrow-size solid $fill-color);
      @include net-set-flow("right", $arrow-fill-position);
      @include net-set-flow("left", auto);
      top: $edge-offset;
      bottom: auto;
    }

    &::before {
      @include net-create-arrow-base-styles;
      @include net-set-flow("border-left", $arrow-size solid $border-color);
      @include net-set-flow("right", $arrow-border-position);
      @include net-set-flow("left", auto);
      top: $edge-offset;
      bottom: auto;
    }
  }
}

@mixin net-create-left-arrow($edge-offset, $fill-color, $border-color) {
  @include net-with-arrow-enabled {
    &::after {
      @include net-create-arrow-base-styles;
      @include net-set-flow("border-right", $arrow-size solid $fill-color);
      @include net-set-flow("left", $arrow-fill-position);
      @include net-set-flow("right", auto);
      top: $edge-offset;
      bottom: auto;
    }

    &::before {
      @include net-create-arrow-base-styles;
      @include net-set-flow("border-right", $arrow-size solid $border-color);
      @include net-set-flow("left", $arrow-border-position);
      @include net-set-flow("right", auto);
      top: $edge-offset;
      bottom: auto;
    }
  }
}

@mixin net-create-visibility-classes($size) {
  .has-display-flex-#{$size} {
    display: flex !important;
  }

  .has-display-block-#{$size} {
    display: block !important;
  }

  .has-display-none-#{$size} {
    display: none !important;
  }
}

@mixin net-create-input-field-base-styles {
  background: $input-background;
  appearance: none;
  border-radius: $input-border-radius;
  border: $input-border;
  box-shadow: $input-box-shadow;
  font-family: $input-font-family;
  font-size: $input-font-size;
  margin: $input-margin;
  padding: $input-padding;
}

@mixin net-create-input-field-interactive-styles {
  transition: $global-transition;

  &:focus,
  &:active {
    background: $input-focus-background !important;
    border: $input-focus-border !important;
    box-shadow: $input-focus-box-shadow !important;
  }

  &:hover {
    background: $input-hover-background;
    border: $input-hover-border;
    box-shadow: $input-hover-box-shadow;
    transition: $global-transition;
  }
}

@mixin net-create-input-disabled-styles {
  background: $input-disabled-background !important;
  border: $input-disabled-border !important;
  color: $input-disabled-color !important;
  cursor: not-allowed;
  resize: $input-disabled-resize !important;
  opacity: 1;

  &:hover {
    background: $input-disabled-background !important;
    border: $input-disabled-border !important;
    color: $input-disabled-color !important;
  }
}

@mixin net-create-input-of-type-disabled($type) {
  input[type="#{$type}"]:disabled,
  input[type="#{$type}"].disabled {
    @include net-create-input-disabled-styles;
  }
}

@mixin net-create-no-scroll-class {
  .no-scroll {
    overflow: hidden !important;
  }
}

@mixin net-create-using-keyboard-class {
  $inputs: "";

  @each $type in $input-field-types {
    $inputs: $inputs + ":not([type='#{$type}'])";
  }

  .using-keyboard *#{$inputs}:not(textarea):not(select):focus {
    outline: $global-outline-using-keyboard !important;
  }
}
