@import "../globals";
@import "../layout";
@import "../partials/side-navigation";

#docs {
  max-width: 1400px;

  .small.button {
    margin-block-end: 48px;
  }

  .article-wrapper {
    pre {
      margin-block-end: 32px !important;
    }

    .filler {
      background: $color-gray900;
      border-radius: $global-border-radius;
      margin-block-end: $global-space;
    }

    .static-height {
      height: 200px;
    }

    h2,
    h3 {
      margin-block-start: 28px;
    }

    h4 {
      margin-block-start: 18px;
    }

    // reset collapse examples
    .collapse {
      > h1,
      > h2,
      > h3,
      > h4,
      > h5,
      > h6 {
        margin-block-start: 0;
      }
    }

    // reset dropdown menu headers
    .dropdown-menu {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-block-start: 0;
      }
    }

    .inverted-bg {
      background: $color-gray200;
      padding: $global-space $global-space 0 $global-space;
    }

    .filler-bg {
      background: $color-gray900;
      padding: $global-space;
      margin-block-end: $global-space;
      border-radius: $global-border-radius;

      .filler {
        background: $color-gray800;
        color: white;
        margin-block-end: 0;
      }
    }
  }
}
