<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129032354-1"></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag("js", new Date())
  gtag("config", "UA-129032354-1")
</script>

<title itemprop="name" lang="en">{{ page.title }}</title>
<meta charset="UTF-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="ie=edge" http-equiv="X-UA-Compatible"/>
<meta content="HTML, CSS, JavaScript, Framework, FrontEnd, Coding, Web, SCSS, Software" name="keywords"/>
<meta content="#ffffff" name="msapplication-TileColor"/>
<meta content="#191b34" name="theme-color"/>
<link href="{{ site.baseurl }}/assets/manifest.json" rel="manifest"/>

{% include icons.html %}

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/undernet.css"/>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/global.css"/>
