@import "globals";
@import "partials/page-header";
@import "partials/page-footer";

main {
  display: block;
}

.has-feather {
  display: inline-flex;
  align-items: center;

  svg {
    margin-inline-start: 5px;
  }
}
