@import '../../global';

#home {
  background-image: url('../../assets/images/home-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  h1 {
    margin-bottom: 0;
  }

  h2 {
    font-weight: normal;
  }

  a {
    margin: $global-space 8px $global-space 8px;
  }
}
