@import '../../global';

#home {
  background-image: url('../../assets/images/home-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h2 {
    font-weight: normal;
  }

  a {
    margin: 0 8px $global-space 8px;
  }
}
