{% if include.component %} 

{% assign api_method = include.component | capitalize | append: "s" %}

<h3>API</h3>

<p>
  See Download documentation to see how to add the JS to your site, and JavaScript documentation to
  see general API details.
</p>

<p>
  Call one of the following scripts from Undernet's JavaScript (not both!). This should happen only
  once on page load.
</p>

<pre>Undernet.start()</pre>

<pre>Undernet.{{ api_method }}.start()</pre>

<p>
  Alternatively, if you wish to initialize only a single component instance, you can pass a string
  denoting the id used in your <code>data-{{ include.component }}</code> attribute:
</p>

<pre>Undernet.{{ api_method }}.start("my-id-123")</pre>
{% endif %}

<hr />

<p class="has-text-end">
  Is there information missing?
  <a href="https://github.com/geotrev/undernet/tree/master/site/{{ page.path }}"
    >Edit this page on Github!</a
  >
</p>
