<footer class="has-p-block-end-lg is-section-sm is-fluid grid" id="page-footer">
  <div class="row">
    <div class="has-no-p column">
      <p class="has-no-m-block-end has-text-center has-gray900-text-color">
        Undernet is a front-end framework created and maintained by
        <a class="has-white-text-color" href="https://geotrev.com">George Treviranus</a>.
      </p>
      <ul class="has-text-center has-no-p has-gray900-text-color has-unstyled-list has-direction-row is-d-flex has-justify-content-center has-align-items-center">
        <li class="has-no-p">
          <a class="has-feather" href="https://npmjs.com/package/undernet">
            {% include partials/icons/npm-logo.html %}
            <span class="is-visually-hidden">Open link to www.npmjs.com/package/undernet</span>
          </a>
        </li>
        <li class="has-no-p">
          <a class="has-feather" href="https://www.github.com/geotrev/undernet">
            {% include partials/icons/github.html %}
            <span class="is-visually-hidden">
              Open link to www.github.com/geotrev/undernet
            </span>
          </a>
        </li>
        <li class="has-no-p">
          <button class="is-visually-hidden-focusable" onclick={handleClick} type="button">
            Return to top of page
          </button>
        </li>
      </ul>
    </div>
  </div>
</footer>
