
fieldset {
  @include flex(flex, column);
  background: $fieldset-background;
  border-radius: $fieldset-border-radius;
  border: $fieldset-border;
  box-shadow: $fieldset-box-shadow;
  margin: $fieldset-margin;
  padding: $fieldset-padding;

  legend {
    align-self: flex-start;
    background: $fieldset-legend-background;
    border-radius: $fieldset-legend-border-radius;
    border: $fieldset-legend-border;
    box-shadow: $fieldset-legend-box-shadow;
    color: $fieldset-legend-color;
    font-family: $fieldset-legend-font;
    font-size: $fieldset-legend-font-size;
    padding: $fieldset-legend-padding;
  }
}
