@import "../../global";

#docs {
  .small.button {
    margin-bottom: 48px;
  }

  .article-wrapper {
    opacity: 0;
    transition: $global-ease 0.35s opacity;

    &.fadeIn {
      opacity: 1;
    }

    pre {
      margin-bottom: 32px !important;
    }

    .filler {
      background: $gray900;
      border-radius: $global-border-radius;
      margin-bottom: 1rem;
    }

    .static-height {
      height: 200px;
    }

    h2,
    h3 {
      margin-top: 54px;
    }

    h4,
    h5,
    h6 {
      margin-top: 32px;
    }

    // override accordion examples
    .accordion-row {
      > h1,
      > h2,
      > h3,
      > h4,
      > h5,
      > h6 {
        margin-top: 0;
      }
    }

    .dropdown-menu {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 0;
      }
    }

    .inverted-bg {
      background: $gray200;
      padding: 1rem 1rem 0 1rem;
    }

    .filler-bg {
      background: $gray900;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: $global-border-radius;

      .filler {
        background: $gray800;
        color: white;
        margin-bottom: 0;
      }
    }
  }
}
