$navy: #001e38;
$green: #15b78f;

html {
  background-color: $navy;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 16px;
}

h1 {
  color: $green;
  font-weight: bold;
  font-size: 3.5rem;
  
  img {
    width: 3rem;
    height: 3rem;
  }
}

@keyframes wave {
  100% {
    transform: rotate(20deg);
  }
}
