[data-accordion] {
  border: $accordion-border;
  overflow: hidden;
  border-radius: $accordion-border-radius;

  [data-expanded] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding: 0;
      margin: 0;
    }
  }

  [data-content] {
    overflow: hidden;
    padding: 0;
    max-height: 0;
    background: $accordion-content-background;
    transition: max-height $accordion-transition-duration $accordion-transition-ease;
    border-bottom: $accordion-row-divider;
  }

  [data-target] {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    width: 100%;
    border: none;
    color: $accordion-button-color;
    background: $accordion-button-background;
    padding: $accordion-button-padding;
    margin: 0;
    border-radius: 0;
    font-size: $accordion-content-font-size;

    &:hover,
    &:focus {
      color: $accordion-button-color-hover;
      background: $accordion-button-background-hover;
    }

    &::after {
      content: "\25B2";
      font-size: 12px;
      transition: $accordion-transition-duration $accordion-transition-ease;
    }
  }

  [data-expanded="false"] [data-target]::after {
    transform: rotate(180deg);
  }

  [data-expanded]:last-child [data-content] {
    border-bottom: none;
  }

  .accordion-content {
    margin: $accordion-content-margin;
  }
}
