.dropdown {
  position: relative;

  .dropdown-menu {
    position: absolute;
    display: block;
    opacity: 0;
    transition: opacity $global-transition;
    pointer-events: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: $global-border-radius;

    li {
      padding: 0;
      display: flex;
      flex-flow: row nowrap;

      a {
        padding: 12px;
      }
    }

    [data-close] {
      display: none;

      a {
        margin-left: auto;
        font-size: 24px;
        text-decoration: none;
        padding: 0 8px;
      }
    }
  }

  &[data-visible="true"] {
    .dropdown-menu {
      opacity: 1;
      pointer-events: auto;

      [data-close] {
        display: flex;
      }
    }
  }

  .split-left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .split-right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
