@import "../../global";
@import "../../../scss/elements/reset";

// $scope: "undernet";

// .#{$scope} {
@import "../../../scss/helpers/classes";
@import "../../../scss/elements/grid";
@import "../../../scss/elements/typography";
@import "../../../scss/elements/link";
@import "../../../scss/elements/button";
@import "../../../scss/elements/form";

@import "../../../scss/components/modal";
@import "../../../scss/components/accordion";
@import "../../../scss/components/dropdown";
// }

@import "../../../scss/helpers/scope-overrides";

main {
  display: block;
  @import "./prism";
}

.has-feather {
  display: inline-flex;
  align-items: center;

  svg {
    margin-left: 5px;
  }
}
