@import '../../global';

#examples {
  flex-direction: row;
  padding: 0;

  .examples-nav-menu { background: #f9f9f9; }

  .trim-margin { margin: 0 !important; }
  .trim-padding { padding: 0 !important; }

  .trim-margin-top { margin-top: 0 !important; }
  .trim-margin-right { margin-right: 0 !important; }
  .trim-margin-bottom { margin-bottom: 0 !important; }
  .trim-margin-left { margin-left: 0 !important; }

  .trim-padding-top { padding-top: 0 !important; }
  .trim-padding-right { padding-right: 0 !important; }
  .trim-padding-bottom { padding-bottom: 0 !important; }
  .trim-padding-left { padding-left: 0 !important; }

  .content {
    padding: 16px 0;
    width: 100%;
    background: lightgray;
    border-radius: 40px;
  }

  .content{
    &.blue { background: teal; }
    &.red { background: crimson; }
    &.green { background: green; }
  }

  .gray {
    background: lightgray;

    .content { background: white; }
  }

  .invert-block {
    background: black;
    border-radius: 4px;
    padding: 1rem;
    margin: 16px 0;
  }

  button.button, button,
  a.button, input.button,
  input[type=submit],
  input[type=button] {
    margin-right: 10px;
  }
}
