@import "../../global";

@mixin align-nav-item($justify) {
  justify-content: center;

  @include breakpoint-up(small) {
    justify-content: $justify;
  }
}

#global-nav {
  background: $brand-dark-blue;
  padding: 0;
  z-index: 5;

  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .logo {
      opacity: 1;

      img {
        height: 30px;
        width: auto;
      }
    }

    > li:first-child {
      @include align-nav-item(flex-start);
      display: inline-flex;
      align-items: center;
    }

    > li:last-child {
      ul {
        @include align-nav-item(flex-end);
        display: flex;
        height: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  li {
    padding: 0;
  }

  li a {
    @include colored-link($white);
    display: flex;
    text-decoration: none;
    padding: 1rem;
  }
}
