@import "../../global";

#side-nav {
  background: #fbfbfb;

  .side-nav-wrapper {
    padding: 0;

    .side-nav-expand {
      background: $white;

      @include breakpoint-up(xsmall) {
        border-bottom: 1px solid $gray900;
      }

      @include breakpoint-up(xlarge) {
        border-bottom: none;
      }

      a {
        width: 100%;
        padding: 20px;
        text-decoration: none;

        &.rotate-180 {
          svg {
            transform: rotate(180deg);
          }
        }

        svg {
          margin-right: 8px;
        }
      }
    }

    .version-text {
      font-size: 14px;
      padding-bottom: 8px;
    }

    .side-nav-menu {
      h4 {
        color: $black;
        font-size: 18px;
        font-weight: $global-font-weight-bold;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        flex: 1 1 auto;

        li {
          padding: 0;
        }

        li a {
          @include colored-link;
          display: block;
          font-size: 16px;
          line-height: 36px;
          text-decoration: none;

          svg {
            margin-left: 4px;
            transition: 0.1s ease-out;
            color: $gray800;
          }

          &:hover,
          &:active,
          &:focus {
            svg {
              margin-left: 8px;
              color: $primary-color;
            }
          }

          &.active {
            color: $primary-color !important;
          }
        }
      }

      &[data-accordion] {
        border: none;
        border-radius: 0;

        [data-target] {
          @include colored-link($black);
          background: transparent;
          padding: 8px 0;
          font-weight: bold;
        }

        .accordion-content {
          background: transparent;
          border: none;

          a {
            margin: 2px;
            padding-left: 8px;
          }
        }
      }
    }
  }
}
