<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{% link assets/css/docs.scss %}"/>
  </head>
  <body>
    <header>
      {% include global-navigation.html %}
    </header>
    <main>
      {% include side-navigation.html %}
      {{ content }}
    </main>
    <script src="{% link assets/js/side-navigation.js %}" type="text/javascript"></script>
    <script src="{% link assets/js/undernet.js %}" type="text/javascript"></script>
  </body>
</html>
