$navy: #001e38;
$green: #15b78f;

html {
  background-color: $navy;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 16px;
  text-align: center;
}

.intro-wrapper {
  h1 {
    color: $green;
    font-weight: bold;
    font-size: 3rem;
  }
  
  p {
    font-size: 1.5rem;
    color: white;
  }
}

@keyframes wave {
  100% {
    transform: rotate(20deg);
  }
}
