input[type="button"],
input[type="submit"],
input[type="file"],
input[type="reset"],
button,
.button {
  -webkit-appearance: none;
  align-self: flex-start;
  border-radius: $button-border-radius;
  border-style: $button-border-style;
  border-width: $button-border-width;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: $button-font;
  font-size: $button-font-size;
  font-style: $button-font-style;
  font-weight: $button-font-weight;
  line-height: $global-line-height;
  margin: $button-margin;
  padding: $button-padding;
  text-align: center;
  text-decoration: $button-decoration;
  transition: $global-ease;

  @each $state, $properties in $button-default {
    @if $state != "default" {
      &:#{$state} {
        @each $property, $value in $properties {
          #{$property}: $value;
        }
      }
    } @else {
      @each $property, $value in $properties {
        #{$property}: $value;
      }
      &:visited {
        @each $property, $value in $properties {
          #{$property}: $value;
        }
      }
    }
  }

  @each $size, $properties in $button-sizes {
    &.#{$size} {
      @each $property, $value in $properties {
        #{$property}: $value;
      }
    }
  }

  &.wide {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  @each $type, $states in $button-types {
    @each $state, $properties in $states {
      @if $state != "default" {
        &.#{$type} {
          &:#{$state} {
            @each $property, $value in $properties {
              #{$property}: $value;
            }
          }
        }
      } @else {
        &.#{$type} {
          @each $property, $value in $properties {
            #{$property}: $value;
          }
          &:visited {
            @each $property, $value in $properties {
              #{$property}: $value;
            }
          }
        }
      }
    }
  }
}
