h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
small,
mark {
  font-family: $global-font-sans;
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: $list-padding;
  margin: $list-margin;
  font-family: $list-font;

  li {
    margin: $list-item-margin;
    padding: $list-item-padding;
  }
}

ul {
  list-style-type: $ul-list-style;
}

ol {
  list-style-type: $ol-list-style;
}

@each $header, $properties in $type-header-styles {
  @each $property, $value in $properties {
    #{$header},
    .#{$header} {
      #{$property}: $value;
    }
  }

  #{$header},
  .#{$header} {
    line-height: $type-header-line-height;
  }
}

@each $size, $headers in $type-header-sizes {
  $smallest-breakpoint: nth(nth($breakpoints, 1), 1);

  @if $size == $smallest-breakpoint {
    @include header-sizes($headers);
  } @else {
    @include breakpoint-up($size) {
      @include header-sizes($headers);
    }
  }
}

p,
.paragraph {
  font-size: $type-p-font-size;
  font-style: $type-p-font-style;
  font-weight: $type-p-font-weight;
  line-height: $type-p-line-height;
  margin-bottom: $type-p-margin-bottom;
  color: $type-p-color;
}

pre,
code,
kbd,
samp,
tt,
.pre,
.code,
.kbd,
.samp,
.tt {
  font-family: $type-code-font;
  font-size: $type-code-font-size;
  background: $type-code-background;
  border: $type-code-border;
  border-radius: $type-code-radius;
  padding: $type-code-padding;
  color: $type-code-color;
}
pre,
.pre {
  padding: $type-pre-padding;
  overflow: auto;

  > code,
  .code {
    word-break: normal;
    width: auto;
    display: inline-flex;
  }
}

strong,
.strong {
  font-size: inherit;
  font-style: $type-strong-font-style;
  font-weight: $type-strong-font-weight;
}

em,
.em {
  font-size: inherit;
  font-style: $type-em-font-style;
  font-weight: $type-em-font-weight;
}

mark,
.mark {
  font-size: inherit;
  padding: $type-mark-padding;
  background: $type-mark-background;
  color: $type-mark-color;
}

small,
.small {
  font-weight: $type-small-font-weight;
  font-size: $type-small-font-size;
}
