input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  background: $input-background;
  appearance: none;
  border-radius: $input-border-radius;
  border: $input-border;
  box-shadow: $input-box-shadow;
  font-family: $input-font-family;
  font-size: $input-font-size;
  margin: $input-margin;
  padding: $input-padding;
}

textarea,
input[type="text"] {
  resize: $input-resize;
}

fieldset {
  @include flex(flex, column);
  background: $fieldset-background;
  border-radius: $fieldset-border-radius;
  border: $fieldset-border;
  box-shadow: $fieldset-box-shadow;
  margin: $fieldset-margin;
  padding: $fieldset-padding;

  legend {
    align-self: flex-start;
    background: $fieldset-legend-background;
    border-radius: $fieldset-legend-border-radius;
    border: $fieldset-legend-border;
    box-shadow: $fieldset-legend-box-shadow;
    color: $fieldset-legend-color;
    font-family: $fieldset-legend-font-family;
    font-size: $fieldset-legend-font-size;
    padding: $fieldset-legend-padding;
  }
}

form {
  background: $form-background;
  border: $form-border;
  box-shadow: $form-box-shadow;
  margin: $form-margin;
  padding: $form-padding;
}

label {
  @include flex(flex, column);
  font-family: $form-font-family;
}

.has-check {
  @include flex(flex, row, nowrap, $align: center);
  padding: $input-check-label-padding;
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  font-family: $form-font-family;
  margin: $input-check-margin;
  padding: $input-check-padding;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="submit"],
input[type="file"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"],
textarea,
button,
.button {
  &:disabled,
  &.disabled {
    background: $input-disabled-background !important;
    border: $input-disabled-border !important;
    color: $input-disabled-color !important;
    cursor: not-allowed;
    resize: $input-disabled-resize !important;
    opacity: 1;

    &:hover {
      background: $input-disabled-background !important;
      border: $input-disabled-border !important;
      color: $input-disabled-color !important;
    }
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  transition: $global-transition;

  &:focus,
  &:active {
    background: $input-focus-background !important;
    border: $input-focus-border !important;
    box-shadow: $input-focus-box-shadow !important;
  }

  &:hover {
    background: $input-hover-background;
    border: $input-hover-border;
    box-shadow: $input-hover-box-shadow;
    transition: $global-transition;
  }
}
