@import "../global";
@import "../../scss/elements/reset";

// $scope: "undernet";

// .#{$scope} {
@import "../../scss/helpers/classes";
@import "../../scss/elements/grid";
@import "../../scss/elements/typography";
@import "../../scss/elements/link";
@import "../../scss/elements/button";
@import "../../scss/elements/form";

@import "../../scss/components/modal";
@import "../../scss/components/accordion";
// }

@if $scope != null {
  .no-scroll {
    overflow: hidden;
  }
}

html,
body,
#__main__ {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header,
footer {
  flex: none;
}

main {
  display: flex;
  flex: 1 0 auto;

  @import "./prism";
}

.has-feather {
  display: inline-flex;
  align-items: center;

  svg {
    margin-left: 5px;
  }
}
