@import '../../../global';

.docs-nav-wrapper {
  padding: 0;

  .show-on-xsmall {
    @include breakpoint-up(xsmall) {
      display: flex;
    }
  }

  .hide-on-xlarge {
    @include breakpoint-up(xlarge) {
      display: none;
    }
  }

  .docs-nav-expand {
    background: $white;
    display: flex;

    @include breakpoint-up(xsmall) {
      border-bottom: 1px solid $gray900;
    }

    @include breakpoint-up(xlarge) {
      border-bottom: none;
    }

    a {
      align-content: center;
      width: 100%;
      padding: 20px;
      justify-content: center;

      &.rotate-180 {
        svg {
          transform: rotate(180deg);
        }
      }

      svg { margin-left: 5px; }
    }
  }

  .docs-nav-menu {
    @include breakpoint-between(small, xlarge) {
      text-align: center;
    }

    h3 {
      font-size: 14px;
      text-transform: uppercase;
      padding: 32px 25px 0 32px;
    }

    h4 { color: $gray800; }

    ul {
      list-style-type: none;
      padding: 0 24px $global-space 44px;
      margin: 0;
      flex: 1 1 auto;

      @include breakpoint-between(small, xlarge) {
        padding: 0 0 28px 0;
      }

      li a {
        display: block;
        padding-bottom: 8px;
        font-size: 14px;
      }
    }
  }
}
