@import '../../../global';

.docs-nav-wrapper {
  .show-on-xsmall {
    @include breakpoint-up(xsmall) {
      display: flex;
    }
  }

  .hide-on-xlarge {
    @include breakpoint-up(xlarge) {
      display: none;
    }
  }

  .docs-nav-expand {
    background: $white;
    width: 100%;
    display: flex;

    @include breakpoint-up(xsmall) {
      border-bottom: 1px solid $gray900;
    }

    @include breakpoint-up(xlarge) {
      border-bottom: none;
    }

    a {
      align-content: center;
      width: 100%;
      padding: 20px;
      justify-content: center;

      &.rotate-180 {
        svg {
          transform: rotate(180deg);
        }
      }

      svg { margin-left: 5px; }
    }
  }

  nav {
    padding: ($global-space * 2) 25px $global-space ($global-space * 2);
    margin: 0 auto;
    max-width: 992px;
    display: flex;
    flex-direction: column;

    @include breakpoint-only(small, xlarge) {
      flex-direction: row;
      flex-flow: row wrap;
      padding: ($global-space * 2) 24px;
      text-align: center;
    }

    h3 {
      font-size: 14px;
      text-transform: uppercase;
      flex: 1 1 auto;

      @include breakpoint-only(small, xlarge) {
        flex: 0 0 100%;
      }
    }

    h4 { color: $gray800; }

    ul {
      list-style-type: none;
      padding: 0 0 $global-space 10px;
      margin: 0;
      flex: 1 1 auto;

      @include breakpoint-only(small, xlarge) {
        flex: 0 0 33.333%;
        padding: 0;
      }

      li a {
        display: block;
        padding-bottom: 8px;
        font-size: 14px;
      }
    }
  }
}
