@import '../../global';

.nav-wrapper {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  font-family: -apple-system, sans-serif;
  justify-content: center;
  background: transparent;
  padding-left: 1rem;
  padding-right: 1rem;

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: space-between;
    list-style-type: none;
  }
  
  li a, 
  li a:visited, 
  li a:focus, 
  li a:hover, 
  li a:active {
    display: flex;
    color: $black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    
    &:hover, &:active {
      opacity: 0.5;
    }
    
    &.selected {
      color: $black;
      opacity: 0.5;
      border-bottom: 2px solid $black;
    }
  }
}
