.has-sans-font { font-family: $global-font-sans !important; }
.has-serif-font { font-family: $global-font-serif !important; }

.has-center-text { text-align: center !important; }
.has-left-text { text-align: left !important; }
.has-right-text { text-align: right !important; }
